<!DOCTYPE html>

{% extends "base_framework.html" %}

<head>
	<title>
	</title>
</head>

<body>
	{% block main_body_content %}
 		<form action="" method="post">
			{% for author_item in authors %}
				{{ author_item.label }}: {{ author_item }} <br>
			{% endfor %}
			<br>
			<input type="submit" name="update_author" value="Update author data">
			<input type="submit" name="back" value="Go back">
			<br><br>
			<p>These are the papers by this author:</p>
			<ol>
			{% for paper_entry in papers %}
				<li>
				{% include "paper_framework.html" %}
				<br> <br>
				</li>
			{% empty %}
				<p>No papers linked to this author.</p>
			{% endfor %}
			</ol>

			{% if other_paper %}
				<p>You have chosen to add the following paper to the above author.
				You need to confirm the position of the author in the paper.</p>
				{% include "paper_framework.html" with paper_entry=other_paper %}
				<p>Confirm the author from the list of authors.</p>
				{% for author_entry in other_paper_authors %}
					Author {{ author_entry.1 }}: {{ author_entry.0 }}
					<input type="submit" 
									name="chooseauthor_{{ author_entry.1 }}_{{ other_paper.id }}"
									value="Confirm author">
				{% endfor %}
			{% else %}
				{% if select_papers %}
					<p>These papers may be written by the above author.</p>
					<ol>
					{% for paper_entry in select_papers %}
						<li>
						{% include "paper_framework.html" %}
						</li>
						<input type="submit" name="addpaper_{{ paper_entry.id }}"
									value="Add this paper">
						<br><br>
					{% endfor %}
					</ol>
				{% endif %}
			{% endif %}

 			<input type="hidden" name="author_id" value="{{author_id }}">
			{% csrf_token %}
		</form>
	{% endblock %}
</body>