<!DOCTYPE html>

{% extends "base_framework.html" %}

<head>
	<title>
	</title>
</head>

<body>
	{% block main_body_content %}
		<form action="" method="post">
		<table>
			{% for paper_item in paper %}
				<tr>
				<td style="font-weight:bold">{{ paper_item.label }}: </td>
				<td>{{ paper_item }} </td>
				</tr>
			{% endfor %}
		</table>

			{% for author in authors %}
				<b> Author {{ forloop.counter }} </b> <br>
				{{ author.0 }} <br>
				 <br> <br>
			{% empty %}
				<p> No authors?
				</p>
			{% endfor %}
			<input type="submit" name="add_author"  value="Add author manually">
			<br> <br>
			{% if journal %}
				<b> Journal conference or book: </b> <br>
				{% for journal_item in journal %}
					<b>{{ journal_item.label }}: </b>{{ journal_item }} <br>
				{% endfor %}
			{% else %}
				<p> No journal?
				</p>
			{% endif %}
			<input type="hidden" name="paper_srno" value="{{ paper_id }}">
			<input type="submit" name="paper_submit"  value="Submit paper">
			<input type="submit" name="cancel_edit"  value="Cancel">
			{% csrf_token %}
		</form>
	{% endblock %}
</body>