<!DOCTYPE html>

{% extends "base_framework.html" %}

<head>
	<title>
	</title>
</head>

<body>
	{% block main_body_content %}
		{% if collection_of_articles %}
			<ol>
				{% for paper_entry in collection_of_articles %}
					<li>
						{% include "paper_framework.html" %}
						<form action="/edit-paper/" method="post">
							<input type="hidden" name="paper_srno" value="{{ paper_entry.id }}">
							<input type="submit" name="edit_paper" value="Edit paper">
							{% csrf_token %}
						</form>
					</li>
					<br>
				{% endfor %}
			</ol>
			<br>
		{% else %}
			<p> No papers in database. </p>
		{% endif %}
	{% endblock %}
</body>

